/*  module.css  05/22/2016  jhm  */
html, body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 22px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffebcc;
  color: #4d3900;
  margin: 0;
  padding: 0;
}
/* header {} */
h1 {
  font-family: Garamond, "Times New Roman", Times, serif;
  /* font-style: italic; */
  color: #e60000;
  font-size: 1.75rem;
  text-align: center;
  padding-top: 25px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
}
div {
  width: 29.2%;
  min-width: 300px;
  /*border: 1px solid black;*/
  float: left;
  padding: 15px;
  margin-left: 3%;
  margin-right: 0%;
  margin: 25px 0 10px 3%;
}
.menuItem {
  background-color: #ffdd80;
  border: 3px solid #4d3900;
  position: relative;
}
h2.menuLabel {
  color: green;
  font-size: 1.25rem;
  text-align: center;
  border-bottom: 3px #4d3900 solid;
  border-left: 3px #4d3900 solid;
  width: 130px;
  position: absolute;
  top: 0px;
  right: 0px;
}
div.menuItem > p {
  padding-top: 30px;
}
.yellow {
  background-color: #ffff00;
}
.red {
  background-color: #ff9980;
}
.green {
  background-color: #00ff55;
}
footer {
  clear: left;
}
p#foot {
  color: #808080; /* dimgray */
  font-size: 0.7rem;
  font-style: italic;
  text-align: center;
}

/* ==================================================== */
/* =================== Device Sizes =================== */
/* ==================================================== */

/******************** Larger Devices **** (desktop) *****/
@media (min-width: 992px) {
  #menuItemOne {}
  #menuItemTwo {}
  #menuItemThree {}
}

/******************** Medium Devices ***** (tablet) *****/
@media (min-width: 768px) and (max-width: 991px) {}

/******************* Smaller Devices ***** (mobile) *****/
@media (max-width: 767px) {}





